---
import NavigationBar from "../NavigationBar";
import Footer from "../Footer";

import Body from "../Body";

import styles from "./index.module.scss";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class={styles.body}>
    <NavigationBar />
    <main class={styles.main}>
      <slot />
    </main>
    <Footer />
  </body>

  <style is:global>
    * {
      margin: 0;
      padding: 0;
      font-family: "Roboto";
    }
    html,
    body {
      width: 100%;
      height: 100%;
    }
  </style>
</html>
