---
import List from "../components/List";
import Layout from "../layouts/Layout/index.astro";

import styles from "./index.module.scss";
---

<Layout title="Photography">
  <section>
    <List client:load />
  </section>
</Layout>
